* {
    padding: 0;
    /* border: 1px solid black; */
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-blue-3: #4141b9;
}

.no-display {
    display: none;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    background-color: gray;
}

/* Main layout */
#content {
    display: grid;
    grid-template-columns: 200px 700px 1fr;
    grid-template-rows: 100px 800px;
}

nav {
    grid-area: 1 / 1 / 3 / 2;
}

header {
    grid-area: 1 / 2 / 2 / 4;
}

main {
    grid-area: 2 / 2 / 3 / 3;
}

aside {
    grid-area: 2 / 3 / 3 / 4;
}

/* Form */
.form-wrapper {
    padding: 10px;
}

form {
    display: grid;
    grid-template-columns: 500px 100px;
    grid-template-rows: 60px 60px 1fr;
}

.f-title-cell {
    grid-area: 1 / 1 / 2 / 2;
}

.f-date-cell {
    grid-area: 2 / 1 / 3 / 2;
}

.f-pri-cell {
    grid-area: 1 / 2 / 3 / 3;
}

fieldset > label {
    display: block;
}

.f-desc-cell {
    grid-area: 3 / 1 / 4 / 3;
}

textarea {
    resize: none;
    display: block;
    width: 100%;
    padding: 10px;
}

/* Todo items */
.todo {
    height: 60px;
    display: flex;
}

.todo > button {
    width: 60px;
    font-size: 20px;
    font-weight: bold;
}

.todo-date {
    padding: 10px;
}

.todo-priority {
    width: 60px;
    font-size: 20px;
    text-align: center;
}

.todo-expand {
    margin-left: auto;
}
