* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --col-blue-1: #7676b8;
    --col-blue-2: #6363c0;
    --col-blue-3: #4141b9;
    --col-bg: #292946;
    --col-gray: #aaa;
    --col-orange: #ff6f28;
    --col-remove: #f00;
    --col-remove-hover: #b00;
}

body {
    background-color: var(--col-bg);
}

.no-display {
    display: none;
}

button {
    border: none;
    background-color: var(--col-blue-1);
}

button:hover {
    background-color: var(--col-blue-2);
}

.regular-button {
    padding: 5px 15px;
    border: 1px solid var(--col-blue-3);
    border-radius: 6px;
    font-size: 1.1em;
}

.red-button {
    font-weight: bold;
    color: #fff;
    background-color: var(--col-remove);
}

.red-button:hover {
    background-color: var(--col-remove-hover);
}

.list-item {
    border: 1px solid var(--col-blue-3);
    border-radius: 6px;
    overflow: hidden;
}

.scroll-overflow {
    overflow: scroll;
}

/* Main layout */
body {
    display: grid;
    grid-template-columns: 200px 700px 400px;
    grid-template-rows: 100px 800px;
    gap: 10px;
    background-color: var(--col-bg);
}

#project-bar, #project-list-area, #todo-list-area, #editor {
    background-color: var(--col-blue-1);
    padding: 10px;
    border: 2px outset var(--col-blue-3);
}

#project-bar {
    grid-area: 1 / 2 / 2 / 4;
    display: flex;
    align-items: center;
    gap: 10px;
}

#project-list-area {
    grid-area: 1 / 1 / 3 / 2;
    overflow-y: auto;
}

#todo-list-area {
    grid-area: 2 / 2 / 3 / 3;
    overflow-y: auto;
}

#editor {
    grid-area: 2 / 3 / 3 / 4;
}

/* Project bar */
#project-bar > h1 {
    margin-right: auto;
}

.user-icon {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.user-name {
    font-size: 1.2em;
}

/* Project list */
#project-list-area > h2 {
    margin-bottom: 10px;
}

#new-proj-button {
    margin-bottom: 10px;
}

#projform {
    margin-bottom: 10px;
}

label[for="projform-name"] {
    font-size: 1.3em;
    margin-top: 10px;
}

#projform-name {
    font-size: 1.2em;
    width: 100%;
    margin-bottom: 5px;
}

.project {
    border: 1px solid var(--col-blue-3);
    display: flex;
    height: 40px;
    margin-bottom: 10px;
}

.project-expand {
    font-weight: bold;
    padding-left: 10px;
    font-size: 1.5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
}

.project > button.red-button {
    width: 40px;
    font-size: 20px;
    flex: none;
}

/* Todo list */
.todo-controls {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.todo {
    margin: 0 0 10px 0;
    border: 1px solid var(--col-blue-3);
    height: 60px;
    display: flex;
    align-items: stretch;
}

.todo[data-priority="L"] {background-color: var(--col-blue-2);}
.todo[data-priority="M"] {background-color: var(--col-blue-1);}
.todo[data-priority="H"] {background-color: var(--col-orange);}
.todo.checked {background-color: var(--col-gray);}

.todo > button {
    width: 60px;
    font-size: 20px;
    flex: none;
}

.todo-titledesc {
    padding: 0 10px;
    overflow: hidden;
    flex: 1 1 auto;
}

.todo-titledesc > p {
    white-space: nowrap;
    overflow: inherit;
    text-overflow: ellipsis;
}

.todo-date {
    padding: 10px;
    flex: none;
}

.todo-priority {
    padding: 15px;
    width: 60px;
    font-size: 20px;
    text-align: center;
    flex: none;
}

input[type="checkbox"] {
    margin: 0 15px;
    width: 30px;
    flex: none;
}

.todo-expand {
    border-left: 2px solid var(--col-blue-3);
    margin-left: auto;
    flex: none;
}

.todo > *:not(.todo-expand) {
    border-right: 2px solid var(--col-blue-3);
}

/* Expanded Todo / Editor */
#edit-form > * {
    margin-bottom: 10px;
}

#edit-title {
    width: 100%;
    height: 40px;
    font-size: 24px;
    padding: 4px;
}

.edit-buttonbox {
    height: 60px;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
}

.edit-tallerbox {
    height: auto;
}

#edit-date {
    align-self: flex-start;
}

.edit-buttonbox > button {
    width: 60px;
    font-size: 20px;
    font-weight: bold;
}

#edit-unexpand {
    border-right: 2px solid var(--col-blue-3);
}

#edit-remove {
    border-left: 2px solid var(--col-blue-3);
}
